parameters:
    level: 1
    paths:
        - src
        - test
    ignoreErrors:
        # Ignore Call to an undefined static method zaporylie\Vipps\Resource\HttpMethod::POST().
        - '#Call to an undefined static method zaporylie\\Vipps\\Resource\\HttpMethod::POST\(\)#'
        - '#Call to an undefined static method zaporylie\\Vipps\\Resource\\HttpMethod::PUT\(\)#'
        - '#Call to an undefined static method zaporylie\\Vipps\\Resource\\HttpMethod::PATCH\(\)#'
        - '#Call to an undefined static method zaporylie\\Vipps\\Resource\\HttpMethod::DELETE\(\)#'
        - '#Call to an undefined static method zaporylie\\Vipps\\Resource\\HttpMethod::GET\(\)#'

includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon

